@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> localizer



<audio id="notification" src="/media/notification.mp3" />
<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<AuthorizeView>
    <NotAuthorized>
        <MudAppBar Elevation="4" Color="Color.Primary">
            <MudSpacer />
            <LanguageSelector />
            <MudTooltip Text="@localizer["Toggle Dark Mode"]">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
            </MudTooltip>
        </MudAppBar>

        <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
            <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
                <CascadingValue Value="hubConnection">
                    @Body
                </CascadingValue>
            </MudPaper>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        @(LoadDataAsync())
        <MudLayout RightToLeft="@_rightToLeft">
            <MudAppBar Elevation="25">
                <MudIcon Icon="@CustomIcons.BlazorHero" Size="Size.Large" ViewBox="0 0 500 500" />
                <MudText Typo="Typo.h6" Class="ml-4">New Balance</MudText>
                <MudToolBar DisableGutters="true">
                    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
                </MudToolBar>
                <MudSpacer />
                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" Link="https://www.facebook.com/Slecho.tw" Target="_blank"><i class="mr-1 fa-brands fa-facebook fa-2x" ></i>Facebook</MudButton>
                        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
                        <MudMenu EndIcon="@Icons.Filled.KeyboardArrowDown" Label="Hỗ trợ" Color="Color.Inherit" Dense="true" Anchor.Direction="Direction.Right"  Anchor.OffsetY="true">
                            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Công việc</b></MudText>
                            <MudMenuItem Link="https://bccp.vnpost.vn/Login.aspx" Target="_blank">Tra cứu BCCP</MudMenuItem>
                            <MudMenuItem Link="https://mail.zoho.com/" Target="_blank">Zoho Mail</MudMenuItem>
                            <MudMenuItem Link="https://helpdesk.ems.com.vn/" Target="_blank">IT HelpDesk</MudMenuItem>
                            @* <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@localizer["Resources"]</b></MudText>
                            <MudMenuItem Link="https://mudblazor.com/" Target="_blank">@localizer["MudBlazor Documentation"]</MudMenuItem>
                            <MudMenuItem Link="https://codewithmukesh.com/blog/blazor-hero-quick-start-guide/" Target="_blank">@localizer["Quick-Start Guide"]</MudMenuItem> *@
                        </MudMenu>
                        <LanguageSelector />
                        <MudTooltip Text="@localizer["Toggle right-to-left/left-to-right"]">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatTextdirectionRToL" Color="Color.Inherit" OnClick="@((e) => RightToLeftToggle())" />
                        </MudTooltip>
                        <MudTooltip Text="@localizer["Toggle Dark Mode"]">
                            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                        </MudTooltip>
                        @* <MudTooltip Text="@localizer["Fork Repository"]">
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/blazorhero/CleanArchitecture" Target="_blank" />
                        </MudTooltip> *@
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        <LanguageSelector />
                        <MudMenu Icon="@Icons.Filled.Settings" Color="Color.Inherit" Dense="true" Anchor.Direction ="Direction.Right" Anchor.OffsetY="true">
                            <div class="px-2">
                                <MudTooltip Text="@localizer["Toggle Dark Mode"]">
                                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                                </MudTooltip>
                                @* <MudTooltip Text="@localizer["Fork Repository"]">
                                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/blazorhero/CleanArchitecture" Target="_blank" />
                                </MudTooltip> *@
                            </div>
                            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Công việc</b></MudText>
                            <MudMenuItem Link="https://bccp.vnpost.vn/Login.aspx" Target="_blank">Tra cứu BCCP</MudMenuItem>
                            <MudMenuItem Link="https://mail.zoho.com/" Target="_blank">Zoho Mail</MudMenuItem>
                            <MudMenuItem Link="https://helpdesk.ems.com.vn/" Target="_blank">IT HelpDesk</MudMenuItem>
                            @* <MudText Typo="Typo.body2" Class="px-4 py-2"><b>@localizer["Resources"]</b></MudText>
                            <MudMenuItem Link="https://mudblazor.com/getting-started/installation" Target="_blank">@localizer["MudBlazor Documentation"]</MudMenuItem>
                            <MudMenuItem Link="https://codewithmukesh.com/blog/blazor-hero-quick-start-guide/" Target="_blank">@localizer["Quick-Start Guide"]</MudMenuItem> *@
                        </MudMenu>
                    </MudHidden>
                    <MudMenu Anchor.Direction="_rightToLeft ? Direction.Right : Direction.Left" Anchor.OffsetX="true" Dense="true" Class="mt-1 ml-4">
                        <ActivatorContent>
                            @if (string.IsNullOrEmpty(ImageDataUrl))
                            {
                                <MudAvatar Color="Color.Secondary">@FirstLetterOfName</MudAvatar>
                            }
                            else
                            {
                                <MudAvatar Image="@ImageDataUrl" Style="height:50px; width:50px;"> </MudAvatar>
                            }
                        </ActivatorContent>
                        <ChildContent>
                            <UserCard Class="mt-n2" />
                            <MudDivider Class="mb-2" />
                            <MudListItem Text="Tài khoản" Href="/account" Icon="@Icons.Material.Outlined.Person" />
                            <MudListItem Text="Đăng xuất" Icon="@Icons.Material.Filled.Logout" OnClick="Logout" />
                        </ChildContent>
                    </MudMenu>
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
                @* ------------Slidebar------------ *@
                <NavMenu />
                @* -------------------------------- *@
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
                    <CascadingValue Value="hubConnection">
                        @Body
                    </CascadingValue>
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
</AuthorizeView>